global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'jenkins-server'
    static_configs:
      - targets: ['node-exporter:9100']

  - job_name: 'kubernetes-pods'
    scheme: https
    tls_config:
      insecure_skip_verify: true
    bearer_token_file: /etc/prometheus/k8s_token
    kubernetes_sd_configs:
      - role: pod
        api_server: https://BAA039AE86BFFEDD48329BB099682484.gr7.ap-south-1.eks.amazonaws.com
        tls_config:
          insecure_skip_verify: true
        bearer_token_file: /etc/prometheus/k8s_token
    relabel_configs:
      - action: labelmap
        regex: __meta_kubernetes_pod_label_(.+)

